input/static/schema/nota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nota="http://nota.org/schema/nota"
        xmlns:lebewesen="http://nota.org/schema/lebewesen"
        xmlns:kultur="http://nota.org/schema/kultur"
        xmlns:profession="http://nota.org/schema/profession"
        xmlns:talent="http://nota.org/schema/talent"
        xmlns:fertigkeit="http://nota.org/schema/fertigkeit"
        xmlns:besonderheit="http://nota.org/schema/besonderheit"
        xmlns:aktion="http://nota.org/schema/kampf/aktionen"
        xmlns:ausstattung="http://nota.org/schema/kampf/ausstattung"
        targetNamespace="http://nota.org/schema/nota"
        elementFormDefault="qualified"   >
  <import namespace="http://nota.org/schema/lebewesen" schemaLocation="lebewesen.xsd"></import>
  <import namespace="http://nota.org/schema/kultur" schemaLocation="kultur.xsd"></import>
  <import namespace="http://nota.org/schema/profession" schemaLocation="profession.xsd"></import>
  <import namespace="http://nota.org/schema/talent" schemaLocation="talent.xsd"></import>
  <import namespace="http://nota.org/schema/fertigkeit" schemaLocation="fertigkeit.xsd"></import>
  <import namespace="http://nota.org/schema/besonderheit" schemaLocation="besonderheit.xsd"></import>
  <import namespace="http://nota.org/schema/kampf/aktionen" schemaLocation="kampf/aktionen.xsd"></import>
  <import namespace="http://nota.org/schema/kampf/ausstattung" schemaLocation="kampf/ausstattung.xsd"></import>
  <element name="Daten">
    <complexType>
      <sequence>
        <element minOccurs="0" name="Pfade">
          <annotation>
            <documentation xml:lang="de">
              Neben Gattung Kultur und Profession, können noch weitere Entscheidungen bei der Charakterschaffung beschritten werden. Welche dies sind wird an dieser Stelle definiert.
            </documentation>
          </annotation>
          <complexType>
            <sequence maxOccurs="unbounded">
              <element  name="PfadAuswahl">
                <complexType>
                  <sequence >
                    <element name="Beschreibung" type="string"/>
                    <element name="Pfad" maxOccurs="unbounded">
                      <complexType>
                        <sequence>
                          <element name="Beschreibung" type="string"/>
                          <element name="Bedingung" maxOccurs="unbounded" minOccurs="0">
                            <complexType>
                              <annotation>
                                <documentation xml:lang="de">
                                  Falls es mindestens eine Bedingung Existiert, muss mindestens eine Bedingung Wahr sein damit die Auswahl gültig ist. Eine Bedingung ist wahr falls alle seine Kunder Wahr sind.
                                </documentation>
                              </annotation>
                              <sequence>
                                <element name="ProfessionsBedingung" type="profession:ProfessionAuswahlen" minOccurs="0" />
                                <element name="KulturBedingung" type="kultur:KulturAuswahlen" minOccurs="0"/>
                                <element name="LebewesenBedingung" type="lebewesen:LebewesenAuswahlen" minOccurs="0"/>
                              </sequence>
                            </complexType>
                          </element>
                          <element name="Modifikationen" type="lebewesen:Mods" minOccurs="0" />
                          <choice maxOccurs="unbounded" minOccurs="0">
                            <element ref="fertigkeit:Fertigkeit"/>
                            <element ref="talent:Talent"/>
                          </choice>
                        </sequence>
                        <attribute name="Name" type="string" use="required">
                          <annotation>
                            <documentation xml:lang="de">
                              Der Name des Pfades
                            </documentation>
                          </annotation>
                        </attribute>

                      </complexType>
                    </element>
                  </sequence>

                  <attribute name="Name" type="string" use="required">
                    <annotation>
                      <documentation xml:lang="de">
                        Der Name der Auswahl
                      </documentation>
                    </annotation>
                  </attribute>

                  <attribute name="MinimumAuswahl" type="positiveInteger" default="1">
                    <annotation>
                      <documentation xml:lang="de">
                        Der Nutzer muss mindestens die angegebene Anzahl an auswahlen treffen. (Default ist 1)
                      </documentation>
                    </annotation>
                  </attribute>
                  <attribute name="MaximumAuswahl" type="positiveInteger" default="1">
                    <annotation>
                      <documentation xml:lang="de">
                        Der Nutzer muss mindestens die angegebene Anzahl an auswahlen treffen. (Default ist 1)
                      </documentation>
                    </annotation>
                  </attribute>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element ref="lebewesen:Lebewesene"/>
        <element ref="kultur:Kulturen"/>
        <element ref="profession:Professionen"/>
        <element ref="talent:Talente"/>
        <element ref="fertigkeit:Fertigkeiten"/>
        <element ref="besonderheit:Besonderheiten"/>
        <element ref="aktion:Aktionen"/>
        <element ref="ausstattung:Ausstattung"/>
      </sequence>
    </complexType>

    <key name="BesonderheitPK">
      <selector xpath="./besonderheit:Besonderheiten/besonderheit:Besonderheit"/>
      <field xpath="@Name"/>
    </key>

    <key name="KulturPK">
      <selector xpath="./kultur:Kulturen/kultur:Kultur"/>
      <field xpath="@Name"/>
    </key>

    <key name="ProfessionPK">
      <selector xpath="./profession:Professionen/profession:Profession"/>
      <field xpath="@Name"/>
    </key>

    <key name="TalentPK">
      <selector xpath="./talent:Talente/talent:Talent"/>
      <field xpath="@Name"/>
    </key>

    <key name="FertigkeitPK">
      <selector xpath="./fertigkeit:Fertigkeiten/fertigkeit:Fertigkeit"/>
      <field xpath="@Name"/>
    </key>

    <key name="ausstattungEigenschaftPK">
      <selector xpath="./ausstattung:Ausstattung/ausstattung:Eigenschaften/ausstattung:Eigenschaft"/>
      <field xpath="@Name"/>
    </key>



    <keyref name="TalentFK" refer="nota:TalentPK">
      <selector xpath=".//talent:Talent"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="FertigkeitFK" refer="nota:FertigkeitPK">
      <selector xpath=".//fertigkeit:Fertigkeit"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="BesonderheitFK" refer="nota:BesonderheitPK">
      <selector xpath=".//besonderheit:Besonderheit"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="KulturFK" refer="nota:KulturPK">
      <selector xpath=".//kultur:Kultur"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="ProfessionFK" refer="nota:ProfessionPK">
      <selector xpath=".//profession:Profession"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="ausstattungEigenschaftFK" refer="nota:ausstattungEigenschaftPK">
      <selector xpath=".//ausstattung:Eigenschaft"/>
      <field xpath="@Name"/>
    </keyref>


  </element>


  <complexType name="NamedType">
    <attribute name="Name" use="required"></attribute>
  </complexType>

  <complexType name="NamedTypeReqiredeValue">
    <complexContent>
      <extension base="nota:NamedType">
        <attribute name="Wert" type="int" use="required"/>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="NamedTypeOptionalValue">
    <complexContent>
      <extension base="nota:NamedType">
        <attribute name="Wert" type="int" use="optional"/>
      </extension>
    </complexContent>
  </complexType>

  <element name="Levels">
    <complexType >
      <annotation>
        <documentation xml:lang="de">
          Eine Liste von leveln die in der jeweiligen Proffesion oder ähnlihcem erlernt werden kann.
        </documentation>
      </annotation>
      <sequence>
        <element name="Level" maxOccurs="unbounded">
          <annotation>
            <documentation xml:lang="de">
              Das einzelen Level, welches erlernt werden kann. Diese beinhaltet die erlernten Fertigkeiten und Talente, sowie voraussetzungen.
            </documentation>
          </annotation>
          <complexType>
            <sequence>
              <element name="Bedingungen" minOccurs="0">
                <annotation>
                  <documentation xml:lang="de">
                    Die voraussetzungenm welche zum erlernen des Levels gegeben sein müssen.
                  </documentation>
                </annotation>
                <complexType>
                  <sequence>
                    <element name="Besonderheiten" type="besonderheit:BedingugsAuswahl" minOccurs="0"  maxOccurs="1">
                      <annotation>
                        <documentation xml:lang="de">
                          Die besonderheiten die ein Charakter besizten muss um dieses level zu erlernen.
                        </documentation>
                      </annotation>
                    </element>
                    <element name="LevelVoraussetzung" type="nota:LevelAuswahl" minOccurs="0"  maxOccurs="1">
                      <annotation>
                        <documentation xml:lang="de">
                          Andere Level die der Charakter bereist besitzen muss um dieses Level zu erlernen.
                        </documentation>
                      </annotation>
                    </element>
                  </sequence>
                </complexType>
              </element>
              <choice maxOccurs="unbounded" minOccurs="0">
                <element ref="fertigkeit:Fertigkeit"/>
                <element ref="talent:Talent"/>
              </choice>
            </sequence>
            <attribute name="Name" use="optional" >
              <annotation>
                <documentation xml:lang="de">
                  Der Name des Levels, dies wird verwendet damit andere Level auf dieses verweisen können. (Nicht übergreifend)
                </documentation>
              </annotation>
            </attribute>
          </complexType>



        </element>
      </sequence>
    </complexType>
    <key name="LevelPK">
      <selector xpath='./nota:Level'/>
      <field xpath="@Name"/>
    </key>

    <keyref name="LevelFK" refer="nota:LevelPK">
      <selector xpath=".//nota:LevelVoraussetzung/nota:Level"/>
      <field xpath="@Name"/>
    </keyref>
  </element>

  <element name="Level" type="nota:NamedType"/>


  <complexType name="LevelAuswahl">
    <choice>
      <element ref="nota:Or"></element>
      <element ref="nota:And"></element>
      <element ref="nota:Not"></element>
      <element ref="nota:Level"/>
    </choice>
  </complexType>
  <complexType name="LevelAuswahlen">
    <choice maxOccurs="unbounded">
      <element ref="nota:Or"></element>
      <element ref="nota:And"></element>
      <element ref="nota:Not"></element>
      <element ref="nota:Level"/>
    </choice>
  </complexType>

  <element name="Or" type="nota:LevelAuswahlen" />
  <element name="And" type="nota:LevelAuswahlen" />
  <element name="Not" type="nota:LevelAuswahl" />


</schema>