input/render/books/Regelwerke/ZeichenDesWesens/Wesen/daten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nota="http://nota.org/"
        targetNamespace="http://nota.org/"
        elementFormDefault="qualified">
  <element name="Daten">
    <complexType>
      <sequence>

        <element name="Wesen">
          <complexType>
            <sequence>
              <element name="Wesen" maxOccurs="unbounded" minOccurs="0" >
                <complexType>
                  <sequence>
                    <element name="Eigenschaften">
                      <complexType>
                        <sequence>
                          <element name="Mut" type="nota:EigenschaftsWert" />
                          <element name="Glück" type="nota:EigenschaftsWert" />
                          <element name="Klugheit" type="nota:EigenschaftsWert" />
                          <element name="Intuition" type="nota:EigenschaftsWert" />
                          <element name="Gewandtheit" type="nota:EigenschaftsWert" />
                          <element name="Feinmotorik" type="nota:EigenschaftsWert" />
                          <element name="Sympathie" type="nota:EigenschaftsWert" />
                          <element name="Einschüchterung" type="nota:EigenschaftsWert" />
                          <element name="Stärke" type="nota:EigenschaftsWert" />
                          <element name="Konstitution" type="nota:EigenschaftsWert" />
                        </sequence>
                      </complexType>
                    </element>

                    <element name="Morphe" minOccurs="0">
                      <complexType>
                        <sequence>
                          <element name="Morph" minOccurs="1" maxOccurs="unbounded">
                            <complexType>
                              <sequence>
                                <element name="Bedingung" minOccurs="0" type="string"/>
                                <element name="Beschreibung" type="string"/>
                                <element name="EigenschaftModifikation" minOccurs="0" type="nota:EigenschaftsMods"/>
                                <element name="Lebensabschnitte" minOccurs="0">
                                  <complexType>
                                    <sequence>
                                      <element name="Lebensabschnitt" minOccurs="0" maxOccurs="unbounded">
                                        <complexType>
                                          <sequence>
                                            <element name="Beschreibung" type="string"/>
                                            <element name="Mods" minOccurs="0" type="nota:Mods"/>
                                          </sequence>
                                          <attribute name="Name" use="optional" type="string"/>
                                          <attribute name="startAlter" type="float" use="required"/>
                                          <attribute name="endAlter" type="float" use="required"/>
                                          <attribute name="größe" type="float" use="required"/>
                                          <attribute name="gewicht" type="float" use="required"/>
                                        </complexType>
                                      </element>
                                    </sequence>
                                  </complexType>
                                </element>
                                <element name="Mods" minOccurs="0" type="nota:Mods"/>
                              </sequence>
                              <attribute name="Name" use="optional" type="string" />
                              <attribute name="startAlter" type="float" use="required"/>
                              <attribute name="endAlter" type="float" use="required"/>
                              <attribute name="größe" type="float" use="required"/>
                              <attribute name="gewicht" type="float" use="required"/>
                            </complexType>
                          </element>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Besonderheiten"  minOccurs="0"  type="nota:Besonderheiten"/>
                    <element name="Beschreibung" type="string"/>
                    <element name="NPC" minOccurs="0"></element>
                    <element name="PC" minOccurs="0"></element>
                  </sequence>
                  <attribute type="string" name="Name" use="required"/>
                  <attribute type="string" name="Gattung" use="required"/>
                  <attribute type="string" name="Art" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Kulturen">
          <complexType>
            <sequence>
              <element name="Kultur" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                  <sequence>
                    <element name="Beschreibung" type="string"/>
                    <element name="Professionen">
                      <complexType>
                        <sequence>
                          <element name="Profession" type="nota:NamedType" maxOccurs="unbounded"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Level" type="nota:Levels"/>
                  </sequence>
                  <attribute name="Name" type="string" use="required"/>
                  <attribute name="Kosten" type="int" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Professionen">
          <complexType>
            <sequence>
              <element name="Profession" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                  <sequence>
                    <element name="Beschreibung" type="string"/>
                    <element name="Level" type="nota:Levels"/>
                  </sequence>
                  <attribute name="Name" type="string" use="required"/>
                  <attribute name="Kosten" type="int" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Besonderheiten">
          <complexType>
            <sequence>
              <element name="Besonderheit" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                  <sequence>
                    <element name="Beschreibung" type="string"/>
                  </sequence>
                  <attribute name="Name" type="string" use="required"/>
                  <attribute name="Kosten" type="int" use="required"/>
                </complexType>

              </element>
            </sequence>
          </complexType>
        </element>


        <element name="Talente">
          <complexType>
            <sequence>
              <element name="Talent"  maxOccurs="unbounded" minOccurs="0" >
                <complexType>
                  <sequence>
                    <element name="Probe">
                      <complexType>
                        <sequence>
                          <choice maxOccurs="3" minOccurs="3">
                            <element name="Mut" />
                            <element name="Glück" />
                            <element name="Klugheit" />
                            <element name="Intuition" />
                            <element name="Gewandtheit" />
                            <element name="Feinmotorik" />
                            <element name="Sympathie" />
                            <element name="Einschüchterung" />
                            <element name="Stärke" />
                            <element name="Konstitution" />
                          </choice>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Beschreibung"  type="string"/>
                    <element name="Ableitungen" minOccurs="0" maxOccurs="1"  type="nota:AbleitungsAuswahl">
                    </element>
                  </sequence>
                  <attribute type="string" name="Name" use="required"/>
                  <attribute type="nota:Kategorie" use="required" name="Kategorie"/>
                  <attribute type="nota:Komplexität" use="required" name="Komplexität"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Fertigkeiten">
          <complexType>
            <sequence>
              <element name="Fertigkeit" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                  <sequence>
                    <element name="Voraussetzung" minOccurs="0">
                      <complexType>
                        <choice maxOccurs="unbounded">
                          <element name="Talent">
                            <complexType>
                              <attribute name="Name" type="string" use="required"></attribute>
                              <attribute name="Wert" type="int" use="required"></attribute>
                            </complexType>
                          </element>
                          <element name="Fertigkeit" type="nota:NamedType" />
                        </choice>
                      </complexType>
                    </element>
                    <element name="Beschreibung" type="string"></element>
                  </sequence>
                  <attribute type="string" name="Name" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

      </sequence>
    </complexType>

    <key name="BesonderheitPK">
      <selector xpath="nota:Besonderheiten/nota:Besonderheit"/>
      <field xpath="@Name"/>
    </key>

    <key name="KulturPK">
      <selector xpath="nota:Kulturen/nota:Kultur"/>
      <field xpath="@Name"/>
    </key>

    <key name="ProfessionPK">
      <selector xpath="nota:Professionen/nota:Profession"/>
      <field xpath="@Name"/>
    </key>

    <key name="TalentPK">
      <selector xpath="nota:Talente/nota:Talent"/>
      <field xpath="@Name"/>
    </key>

    <key name="FertigkeitPK">
      <selector xpath="nota:Fertigkeiten/nota:Fertigkeit"/>
      <field xpath="@Name"/>
    </key>

    <keyref name="TalentFK1" refer="nota:TalentPK">
      <selector xpath=".//nota:Ableitung"/>
      <field xpath="@Name"/>
    </keyref>
    <keyref name="TalentFK2" refer="nota:TalentPK">
      <selector xpath=".//nota:Talent"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="FertigkeitFK" refer="nota:FertigkeitPK">
      <selector xpath=".//nota:Fertigkeit"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="BesonderheitFK" refer="nota:BesonderheitPK">
      <selector xpath=".//nota:Besonderheit"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="KulturFK" refer="nota:KulturPK">
      <selector xpath=".//nota:Kultur"/>
      <field xpath="@Name"/>
    </keyref>

    <keyref name="ProfessionFK" refer="nota:ProfessionPK">
      <selector xpath=".//nota:Profession"/>
      <field xpath="@Name"/>
    </keyref>


  </element>


  <complexType name="Levels">
    <sequence>
      <element name="Level" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="Bedingungen" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="Besonderheit" type="nota:NamedType" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <choice maxOccurs="unbounded" minOccurs="0">
              <element name="Fertigkeit" type="nota:NamedType"/>
              <element name="Talent" type="nota:NamedType"/>
            </choice>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="NamedType">
    <attribute name="Name" use="required"></attribute>
  </complexType>

  <simpleType name="Kategorie">
    <restriction base="string">
      <enumeration value="Geist"/>
      <enumeration value="Körper"/>
      <enumeration value="Geselchaft"/>
      <enumeration value="Kampf"/>
      <enumeration value="Wissen"/>
      <enumeration value="Handwerk"/>
    </restriction>
  </simpleType>

  <simpleType name="Komplexität">
    <restriction base="string">
      <pattern value="[A-K]"/>
    </restriction>
  </simpleType>

  <complexType name="AbleitungsAuswahl">
    <sequence>
      <choice maxOccurs="unbounded">
        <element ref="nota:Ableitung"/>
        <element ref="nota:Max"/>
      </choice>
    </sequence>
  </complexType>



  <element name="Ableitung">
    <complexType  >
      <attribute name="Name" type="string" use="required" />
      <attribute name="Anzahl" type="int" use="required" />
    </complexType>
  </element>

  <element name="Max" >
    <complexType>
      <sequence>
        <choice maxOccurs="unbounded" minOccurs="1">
          <element ref="nota:Ableitung"/>
          <element ref="nota:Max"/>
        </choice>
      </sequence>
      <attribute name="Anzahl" type="int" default="1" use="optional" />
    </complexType>
  </element>

  <complexType name="EigenschaftsWert">
    <attribute name="Durchschnitt" type="int" use="required"/>
    <attribute name="Minimum" type="int" use="required"/>
    <attribute name="Maximum" type="int" use="required"/>
  </complexType>

  <complexType name="ModWert">
    <attribute name="Mod" type="int" use="required"/>
  </complexType>

  <complexType name="EigenschaftsMods">
    <sequence>
      <element minOccurs="0" name="Mut" type="nota:ModWert" />
      <element minOccurs="0" name="Glück" type="nota:ModWert" />
      <element minOccurs="0" name="Klugheit" type="nota:ModWert" />
      <element minOccurs="0" name="Intuition" type="nota:ModWert" />
      <element minOccurs="0" name="Gewandtheit" type="nota:ModWert" />
      <element minOccurs="0" name="Feinmotorik" type="nota:ModWert" />
      <element minOccurs="0" name="Sympathie" type="nota:ModWert" />
      <element minOccurs="0" name="Einschüchterung" type="nota:ModWert" />
      <element minOccurs="0" name="Stärke" type="nota:ModWert" />
      <element minOccurs="0" name="Konstitution" type="nota:ModWert" />
    </sequence>
  </complexType>

  <complexType name="Besonderheiten">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="Besonderheit" >
        <complexType>
          <attribute name="Name" use="required"/>
        </complexType>

      </element>
    </sequence>
  </complexType>

  <complexType name="Mods">
    <sequence>
      <element name="Eigenschaften" type="nota:EigenschaftsMods" minOccurs="0" />
      <element name="Besonderheiten"  minOccurs="0"  type="nota:Besonderheiten"/>
    </sequence>
  </complexType>



</schema>